/* ########################## main ################################ */
#createorder_main {
    .location {
        text-align: right;
        margin: 20px 0 20px 0;
    }

    .location span {
        font-size: 8px;
        font-weight: lighter;
    }

    .order_tit {
        line-height: 20px;
        margin-bottom: 25px;
        width: 100%;
        position: relative;
    }

    .tri_arrow {
        width: 10px;
        margin: 0 10px;
    }

    .order_tit ul {
        position: absolute;
        right: 0;
    }

    .order_tit li {
        font-weight: bold;
    }

    .order_tit li:not(:nth-of-type(2)) {
        opacity: 0.4;
    }

    .order_tit span {
        font-weight: bold;
        font-size: 28px;
    }

    hr {
        border: solid 0.3px rgb(166, 166, 166);
        background: rgb(166, 166, 166);
        height: 4px;
        margin-bottom: 20px;
        border-radius: 10%/10%;
    }

    .order_tit ul,
    .order_tit {
        /* display: inline-block; */
        /* border: 1px solid; */
        display: flex;
    }

    .main_container {
        width: 1200px;
        /* min-width: 500px; */
        margin: auto;
        /* border: solid 1px; */
        /* border-radius: 10px; */
        /* padding: 50px; */
        /* margin-top: 40px; */
        margin-bottom: 40px;
    }

    .box {
        border: solid 1px silver;
        padding: 30px;
        margin-top: 15px;
    }

    .agreeUse {
        padding: 20px;
    }

    .main_bold {
        font-weight: bold;
    }

    .mainFlex,
    .mainFlexAll div,
    .agreeUse label {
        display: flex;
        justify-content: space-between;
        /* border: solid pink; */
    }

    .main_textAlign {
        text-align: right;
    }

    /* 기본값 */
    .main_down {
        width: 20px;
        height: 40px;
        opacity: 0.3;
    }

    /* js로 click시 추가 */
    .main_up {
        transform: rotate(180deg);
    }

    .main_down,
    .main_up {
        cursor: pointer;
    }

    .nthchild_1 {
        line-height: 40px;
        border-bottom: solid 1px rgb(92, 91, 91);
    }

    .main_marginTop20 {
        margin-top: 20px;
    }

    .main_marginTop10 {
        margin-top: 10px;
    }

    .mainHr {
        border-bottom: solid 1px rgb(92, 91, 91);
    }

    /* 기본값 */
    .main_none {
        display: none;
    }

    /* Box들 flex */
    .form_container {
        width: 1000px;
        margin: auto;

        display: flex;
        justify-content: space-between;
    }

    .leftContainer,
    .rightContainer {
        display: flex;
        flex-direction: column;
    }

    .leftContainer {
        width: 50%;
    }

    .rightContainer {
        width: 45%;
    }

    /* ========= 주문 / 결제 ========== */
    .mainTitle {
        line-height: 50px;
        border-bottom: solid 1px #115c91b7;
    }

    /* =========== 배송지 =========== */
    .defaultAddress {
        border: solid 1px;
        width: 90px;
        line-height: 20px;
        text-align: center;
        border-radius: 30px;
        font-size: 14px;
        color: #115c91b7;
    }

    /* ============= 주문 예정 상품 ============ */
    .product_container img {
        width: 100%;
        height: 100%;
    }

    .product_container {
        display: grid;
        grid-template-columns: 75px auto;
        grid-template-rows: 85px;
        gap: 15px;
    }

    .product_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .price_text {
        font-size: 14px;
    }

    .productHeight {
        line-height: 40px;
    }

    .proHr1 {
        border-top: solid 1px rgb(200, 197, 197);
    }

    .proHr2 {
        border-top: solid 1px rgb(92, 91, 91);
    }

    /* ================ 쿠폰, 포인트 ================ */
    .flexGap {
        gap: 5px;
    }

    .main_input {
        padding: 10px;
        border-radius: 5px;
        border: solid 1px silver;
    }

    .couponBtn {
        padding: 10px 17px;
        border-radius: 5px;
        border: solid 1px #4f80a3b7;
        background-color: #0e4f7eb7;
        color: aliceblue;
        cursor: pointer;
    }

    .pointAllBtn,
    .couponClickBtn button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: solid rgb(226, 226, 226);
        background-color: #f7f7f7;
        cursor: pointer;
    }

    .pointAll,
    .usePoint {
        display: flex;
        gap: 5px;
        justify-content: end;
    }

    .pointAllBtn {
        width: 20px;
        height: 20px;
    }

    #main .pointBtnd {
        background-color: rgb(244, 121, 121);
    }

    .couponHeight {
        line-height: 40px;
    }

    .couponClickBtn {
        background-color: rgba(219, 217, 217, 0.589);
        padding: 20px 20px 5px 20px;
        line-height: 25px;
    }

    .couponClickBtn > div {
        margin-bottom: 15px;
    }

    .pointColor {
        color: #115c91b7;
        font-size: 14px;
    }

    /* =============== 결제 방법 ================== */
    .paymentMethod {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-template-areas:
            'a b c'
            'd . .';
        gap: 12px;
    }

    .paymentMethod > div {
        border: solid 1px rgb(226, 226, 226);
        border-radius: 5px;
        width: 120px;
        line-height: 45px;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }

    .kakaoPay {
        color: rgb(241, 177, 3);
    }

    .naverPay {
        color: rgb(85, 182, 0);
    }

    .paymentBackColor {
        background-color: rgb(234, 234, 234);
    }

    /* =================== 계산서 ===================== */
    .receiptCon {
        position: sticky;
        top: 100px;
    }

    .bill > div > div:nth-of-type(1) {
        color: rgba(60, 59, 59, 0.589);
    }

    .bill > div > div:nth-of-type(2) {
        font-weight: bold;
    }

    .bill {
        line-height: 40px;
        padding: 10px 0;
    }

    .totalPaymentMoney {
        color: #0e4f7eb7;
        font-size: 18px;
        line-height: 60px;
        border-top: solid rgb(92, 91, 91) 1px;
    }

    /* ================== 이용 동의 ===================== */
    .agreeUse {
        display: flex;
        gap: 10px;
        line-height: 40px;
    }

    .agreeUse span:nth-child(2) {
        color: rgb(115, 115, 115);
    }

    .agreeUse label {
        width: 100%;
    }

    .agreeText {
        padding: 20px;
        font-size: 14px;
        white-space: pre-line;
    }

    .agreeText {
        color: rgb(116, 117, 117);
    }

    .agreeText b {
        color: rgb(13, 13, 13);
    }

    .agree_red {
        color: rgb(244, 83, 83);
    }

    /* =================== 버튼 ========================== */
    .submitBtn button {
        border: none;
        background-color: #115c91b7;
        padding: 15px 0;
        width: 100%;
        color: aliceblue;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;

        margin-top: 5px;
    }
}
