* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'NEXON Lv2 Gothic';
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

.headerTop,
.headerMenu,
#footer .footer_cover {
    max-width: 1400px;
    margin: 0 auto;
}
